{
    font-family: montserrat;

}
body{
    background: flfbff;
}
.section-padding{
    padding: 100px 0;
}
.carouseL-item{
    height: 100px;
    min-height: 300px;

}
.carouseL-coption{
    bottom: 220px;
    z-index: 2;
}
.carouseL-coption{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carouseL-coption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}    
.carouseL-inner::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 1;
}
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-light .navbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #000;
}
.navbar-light .navbar-nav .navbar-link{
    color: #000;
}
